<!DOCTYPE html><html><head>
 <title>{% block title %}URL Shortener{% endblock %}</title>
 {% load staticfiles %}
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
 <link rel="stylesheet" type="text/css" href="{% static 'urly_app/css/custom.css' %}" />
 <script src="//code.jquery.com/jquery.min.js"></script>
 <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="wrap">
<header>{% block body_header %}<h1><span data-href="{% url 'urly_app:home' %}">URL Shortener</span></h1>
{% endblock %}</header>
  
<div id="content">
{% block content %}
  
{% endblock %}
</div>
</div>


</body></html>
